head
    block title
        title!= ( currentPageTitle  ? currentPageTitle : 'Заголовок страницы' )

    link(rel="icon" href="_index/favicon.ico")
    meta(charset='utf-8')
    meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1")
    //-meta(name="viewport" content="user-scalable=yes")


    // [ START ] Стили библиотек
    //- TODO Сделать автоматически стили для библиотек чтоб подключались
    link(rel="stylesheet", type="text/css", href="./template/libs/slick-carousel/slick/slick.css")
    link(rel="stylesheet", type="text/css", href="./template/libs/jquery-ui/themes/base/jquery-ui.css")
    link(rel="stylesheet", type="text/css", href="#{ STATIC_DIR }styles/vendor.css")

    // [  END  ] Стили библиотек

    // [ START ] Стили проекта
    link(rel="stylesheet", type="text/css", href="#{ STATIC_DIR }template_styles.css")
    link(rel="stylesheet", type="text/css", href="#{ STATIC_DIR }styles/additional.css")
    // [  END  ] Стили проекта

    script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBTyeVavRArj3ThSAoiQyYjbqm60AMlCyE")


    // [ START ] Переменные bitrix
    script.
        window.App = window.App || {};
        App.BX = {
            TEMPLATE_PATH: './template/'
        }
    // [  END  ] Переменные bitrix


